<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
</head>

<body>
    <div class="navbar-nav w-100">
        <a href=" {{path('app_home')}} " class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Accueil</a>
        <a href="{{path('app_candidat_index')}}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Liste candidat</a>
        <a href="{{path('app_candidatadmis_index')}}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Admis</a>
        <a href="{{path('app_candidatadmissible_index')}}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Admissible</a>
        {# <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a> #}
    </div>  
    {% block body %}{% endblock %}
</body>

</html>